.body {
  padding: 12px;
}

.section {
  padding-bottom: 48px;
}

.section-title {
  font-size: 32px;
  font-weight: 500;
}

.section-header {
  font-size: 20px;
  font-weight: 300;
}
